/node_modules
/.cache
/build
/public/build
/public/docs
/public/images
/public/uploads
.env
.sentryclirc
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
playwright.config.ts
/tests-examples
./../../node_modules
./../node_modules
/rule-builder/client/node_modules
/rule-builder/server/node_modules
/rule-builder/.cache
/rule-builder/build
/rule-builder/public/build
/excel-sheet/node_modules
/excel-sheet/node_modules/
/excel-sheet/.cache
/excel-sheet/build
/excel-sheet/public/build
node_modules
# Sentry Config File
.sentryclirc
