# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#docker run -e POSTGRES_PASSWORD=mysecretpassword -d -p 5432:5432 -v db:/var/lib/postgresql/data postgres


DATABASE_URL="postgresql://trello_owner:slDE41HObjyJ@ep-square-breeze-a4ax0boq.us-east-1.aws.neon.tech/trello"




NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YXNzdXJpbmctbWFjYXF1ZS02OC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_4CLTFe5tIPoTt6ou2hLZ0jhvL811tGQd55pPCvrW8Q

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

NEXT_PUBLIC_UNSPLASH_ACCESS_KEY=qjAygYdmYuyzH4Bl6T8iwB7MqQd3GV3mdAKuPfo_24k
NEXT_PUBLIC_UNSPLASH_SECRET_KEY=pfmTlazej_BbZ5Ic8pyMzA0p-SFu0S9Ldnr6vZIfm18

