<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>ALGO-AI TECH</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info py-0 fixed-top">
        <a class="navbar-brand" href="/">ALGO-AI TECH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="side-bar">
                <li class="active">
                    <a href="/">
                        <i class="fas fa-tachometer-alt fa-fw"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/index">
                        <i class="fas fa-paste fa-fw"></i>
                        Resume summarizer
                    </a>
                </li>
            </ul>
            <!-- <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link px-3" href="#">
                        <i class="fas fa-cog fa-fw fa-lg"></i>
                        Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#">
                        <i class="fas fa-lock fa-fw fa-lg"></i>
                        Change Password
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#">
                        <i class="fas fa-envelope fa-lg"></i>
                        <span class="badge badge-pill badge-danger position-absolute">5</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#">
                        <i class="fas fa-bell fa-lg"></i>
                        <span class="badge badge-pill badge-warning position-absolute">1</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        <img src="https://randomuser.me/api/portraits/men/94.jpg" alt="John Doe" width="40"
                            class="border mp-1 rounded-circle">
                        Roshan
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-user fa-fw"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                    </div>
                </li>
            </ul> -->
        </div>
    </nav>

    <section class="content">

        <h1>ASK QUERIES QUESTION ON RESUME</h1>

        <div class="card mt-4 mb-5">

            <div class="card-body">
                <div class="card mt-4 mb-5">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <form method="POST" class="flex justify-end">
                                    <input type="text" name="question" id="question" placeholder="Keyword"
                                        class="form-control rounded-0 w-72 md:w-96 mr-2 border border-gray-300 p-2">
                                    <button class="btn btn-secondary rounded-0 px-4 py-2 mt-2">Ask</button>


                                </form>
                            </div>
                        </div>
                    </div>

                    {% if extracted_data %}
                    <div>
                        <h3>Resume Data:</h3>
                        <pre>{{ extracted_data }}</pre>
                    </div>
                    {% endif %}
                    <div class="card-body p-0">
                        {% if error %}
                        <p style="color: red;">{{ error }}</p>
                        {% endif %}
                        <div class="table-responsive">
                            {% if question %}
                            <table class="table table-bordered table mb-0">
                                <thead>
                                    <tr>

                                        <th>Question: {{ question }}</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>

                                        <td>Answer: {{ answer }}</td>


                                    </tr>


                                </tbody>
                            </table>
                            {% endif %}
                        </div>

                    </div>

                </div>

            </div>
        </div>



    </section>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="../static/js/custom.js"></script>
</body>

</html>